#circle-div {
    &:hover {
        transition: all 0.3s ease-in-out 0s;
        background: #fff;

        #logo-div {
            color: #1967d2;
            transition: all 0.3s ease-in-out 0s;
        }

    }
}