@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: #000;
  /* background: linear-gradient(
      to bottom,
      transparent,
      #d5d5d5
    )
  #d5d5d5; */
}

* {
  font-family: 'Changa', sans-serif;
  font-weight: 500;
}

.secNav {
  position: absolute;
  right: 20px;
  top: 53px;
  width: auto;
  height: auto;

  padding: 1rem 4rem;
  font-size: 1.3rem;

  align-items: center;
  background-color: rgba(255, 255, 255, 0.544);
  color: black;
  border-radius: 5px;
  z-index: 5;
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all .2s ease-in-out; 
  display: none;
}

#menu-btn a:hover,
#main-nav a:hover,
#bars-nav:hover {
  color: #3a6de4;
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: scale(1.1);
  transition: all .2s ease-in-out; 
}

#menu-btn:hover .secNav {
  display: block;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

#home-head {
  background-image: url('/home-8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

#service-head {
  background-image: url('/home-7.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}

#footer-main {
  background-color: white;
}

#footer-head {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
