.secNav {
  position: absolute;
  right: 20px;
  top: 53px;
  width: auto;
  height: auto;

  padding: 1rem 4rem;
  font-size: 1.3rem;

  align-items: center;
  background-color: rgba(255, 255, 255, 0.544);
  color: black;
  border-radius: 5px;
  z-index: 5;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease-in-out;
  display: none;
}

#menu-btn a:hover,
#main-nav a:hover,
#bars-nav:hover {
  text-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}

#menu-btn:hover .secNav {
  display: block;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}